<app-header></app-header>

<html>
<head>
	<title> UK Hospital </title>
	
	
</head>
<body>
	
	
	
	<div class="middle">
		<div style="background-image:url('assets/images/a.jpg');">
		<p>
			<br> <br>
					Car Care Services  <br>
			<font size="5px"> We Care About Your Cars </font>
		</p> 
		</div>
	</div>
	
	<div class="bottom">
		<div>
			<table border="0">
				<tr>
					<td width="700px">
						<font color="#000"> We are Car center </font> <br> <br>

					<font color="#000" size="5px"> We Have Car EMI Plans  for You! </font> <br> <br>

<ul>
<li> audi
<li>benz
<li>toyata
<li>bmw
<li>ambassdor
</ul>
<br>
 </td>
					
					
					<td> </td>
				</tr>
			
				
			</table>
		</div>
	</div>
